{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block style %}
  {% endblock style %}
  {% block title %}
  {% endblock title %}
</head>

<body>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <style type = text/css>
    @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
    
    body{
      font-family: 'Lato', sans-serif;
    }
    
    .paragraph-base{
      font-family: 'Lato', sans-serif;
      font-size: 1.3vw;
      color:#f2f2f2;
    }

    .header{
      position: sticky;
      top: 0;
      right: 0;
      background-color: rgba(66, 195, 182);
      width: 100%;
      overflow: hidden;
      z-index: 999;
    }

    .header a{
      display: flex;
      justify-content: center;
      align-items: center;
      color: #f2f2f2;
      text-align: center;
      text-decoration: none;
      padding: 15px 17px;
      font-size: 1.3vw;
      min-height: 70px;
    }

    .header a:hover{
      background-color: rgba(51, 114, 109);
    }

    .footer{
      position: relative;
      bottom: 0;
      right: 0;   
      background-color: rgba(51, 114, 109); 
      width: 100%;
      overflow: hidden;
    }

    .footer a{
      float: left;
      display: block;
      color: #f2f2f2;
      padding: 14px 16px;
      font-size: 1.3vw;
    }

    .footer p {
      color: white !important;
    }

    a:hover {
      text-decoration: none;
    }

    .column{
      float: left;
      text-align: left;
      width: 50%;
      padding: 15px;
    }

    .logo {
      max-height: 40px;
    }

    .logo:hover {
      text-decoration: none;
    }

  </style>
  
  {% block css %}

  {% endblock css %}

    <div class = "header">
      <div style="float: left;">
        <a href="/"><img src="{% static 'home/gh2.png' %}" class="logo"></a>
      </div>
      <!--our doctors-->
      <div style="float: right;">
        <a href="/doctor/">Our Doctors</a>
      </div>

      <!--book schedule-->
      <div style="float: right;">
        <a href="/schedule/">Book Schedule</a>
      </div>

      <!--articles-->
      <div style="float: right;">
        <a href="/article/">Articles</a>
      </div>

      <!--about us-->
      <div style="float: right;">
        <a href="/">About Us</a>
      </div>
    </div>

    {% block content %}
  
    {% endblock content %}

    <div class = "footer">
      <!--about us-->
      <div class = "column" style = "float:right;">
        <p style = "font-size:3vw;" class="paragraph-base">ABOUT US</p>
        <p>GetHealthy is a website that was made in hope to raise awareness about Covid-19 Pandemic that is 
          currently happening all around the world. We provide features for you to get consultation with our 
          highly-skilled doctors, alongside with news and tips to get you protected from Covid-19.</p>
      </div>

      <!--reach us-->
      <div class = "column" style = "width: 15%;">
        <p style = "font-size:1.8vw;" class="paragraph-base">Reach Us On</p><br>

        <a href= https://www.instagram.com/>
          <p class="paragraph-base">Instagram</p>  
        </a><br>

        <a href= https://www.facebook.com/>
          <p class="paragraph-base">Facebook</p>  
        </a><br>

        <a href= https://twitter.com/>
          <p class="paragraph-base">Twitter</p>  
        </a><br>
      </div>

      <!--contact us-->
      <div class = "column" style = "width: 20%;">
        <p style = "font-size:1.8vw;" class="paragraph-base">Contact Us Through</p><br>
      
        <a href= https://www.google.com/gmail/>
          <p class="paragraph-base">Email</p>  
        </a>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
