{% extends 'home/base.html' %}
{% load static %}
<head>
    {% block css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">

    <!-- Font Google -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

    <!-- Bootstrap Javascript -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <title>Article</title>

    <style>
        .news-image, .tips-image {
            width: 70%;
        }
        
        .news-title, .tips-title {
            padding-top: 1rem;
        }
        
        #news, #tipsandtrick {
            padding: 7% 15%;
        }
        
        #tipsandtrick {
            margin-bottom: 25%;
        }

        .news-box, .tips-box{
            text-align: center;
            font-family: "Lato", sans-serif;
            font-weight: bold;
            padding: 5%;
        }
    </style>
    {% endblock css %}
    
</head>

<body>

    

{% block content %}  
<section id="news">
    <h2>NEWS</h2>

    <div class="row">
        {% for item in news %}
        <div class="news-box col-lg-6">
          {% if item.image %}  
            <img class="news-image" src="{{item.image.url}}" alt="{{item.title}}">
          {% endif %}
          <a href="{% url 'article:news' item.id %}" item.id><h6 class="news-title">{{item.title}}</h6></a>
        </div>
        {% endfor %}
    </div>

</section>

<section id="tipsandtrick">
    <h2>TIPS AND TRICK</h2>

    <div class="row">
        {% for item in tips %}
        <div class="tips-box col-lg-6">
          {% if item.image %}  
            <img class="tips-image" src="{{item.image.url}}" alt="{{item.title}}">
          {% endif %}
          <a href="{% url 'article:tipsandtrick' item.id %}" item.id><h6 class="tips-title">{{item.title}}</h6></a>
        </div>
        {% endfor %}
    </div>
{% endblock content %}
</section>


</body>
</html>