<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body{padding: 7.3vw;}
  </style>
</head>

<body>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <style type = text/css>
    @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
    
    body{
      font-family: 'Lato', sans-serif;
    }
    
    p{
      font-family: 'Lato', sans-serif;
      font-size: 1.3vw;
      color:#f2f2f2;
    }

    .header{
      position: fixed;
      top: 0;
      right: 0;
      background-color: rgba(66, 195, 182);
      width: 100%;
      overflow: hidden;
    }

    .header a{
      display: block;
      color: #f2f2f2;
      text-align: center;
      text-decoration: none;
      padding: 15px 17px;
      font-size: 1.3vw;
    }

    .header a:hover{
      background-color: rgba(51, 114, 109);
    }

    .footer{
      position: fixed;
      bottom: 0;
      right: 0;   
      background-color: rgba(51, 114, 109); 
      width: 100%;
      overflow: hidden;
    }

    .footer a{
      float: left;
      display: block;
      color: #f2f2f2;
      padding: 14px 16px;
      font-size: 1.3vw;
    }

    .column{
      float: left;
      text-align: left;
      width: 50%;
      padding: 15px;
    }
  </style>

    <div class = "header">
      <!--covid19-->
      <div style="float: right;">
        <a href="{% url 'main:about' %}">Covid-19</a>
      </div>

      <!--our doctors-->
      <div style="float: right;">
        <a href="{% url 'main:about' %}">Our Doctors</a>
      </div>

      <!--book schedule-->
      <div style="float: right;">
        <a href="{% url 'main:about' %}">Book Schedule</a>
      </div>

      <!--articles-->
      <div style="float: right;">
        <a href="{% url 'main:about' %}">Articles</a>
      </div>

      <!--about us-->
      <div style="float: right;">
        <a href="{% url 'main:about' %}">About Us</a>
      </div>
    </div>

    {% block content %}
  
    {% endblock content %}

    <div class = "footer">
      <!--about us-->
      <div class = "column" style = "float:right;">
        <p style = "font-size:3vw;">ABOUT US</p>
        <p>GetHealthy is a website that was made in hope to raise awareness about Covid-19 Pandemic that is 
          currently happening all around the world. We provide features for you to get consultation with our 
          highly-skilled doctors, alongside with news and tips to get you protected from Covid-19.</p>
      </div>

      <!--reach us-->
      <div class = "column" style = "width: 15%;">
        <p style = "font-size:1.8vw;">Reach Us On</p><br>

        <a href= https://www.instagram.com/>
          <p>Instagram</p>  
        </a><br>

        <a href= https://www.facebook.com/>
          <p>Facebook</p>  
        </a><br>

        <a href= https://twitter.com/>
          <p>Twitter</p>  
        </a><br>
      </div>

      <!--contact us-->
      <div class = "column" style = "width: 20%;">
        <p style = "font-size:1.8vw;">Contact Us Through</p><br>
      
        <a href= https://www.google.com/gmail/>
          <p>Email</p>  
        </a>
      </div>
    </div>

</body>

</html>
